
#my-scene{
    width: 100%;
    height: 100vh;
    /* z-index: 100; */
}

.container-1{
    list-style: none;
    display: flex;
    position: fixed;
    margin-left: 6%;
    z-index: 1; 
    transition: 0.2s background-color ease;
    width: 100%;
    margin-top: 25px;
}

.container-1 li{
    text-align: center;
    /* padding-right: 30px;  */
}

li a {
    text-decoration: none;
    color: #364346;
    font-weight: 800;
    letter-spacing: 1px;
    margin-right: 25px;
    margin-bottom: 25px;
} 

.new-class{
    background-color: transparent;
}

.container-1 a.yellow::after{
    content:'';
    display: block;
    width:0;
    height: 4px;
    background:  #364346;
    transition: width .3s;
}

.container-1 a.blue::after{
    content:'';
    display: block;
    width:0;
    height: 4px;
    background: #364346;;
    transition: width .3s;
}

.container-1  a:hover::after {
    width: 100%;
    transition: width .3s;
}

.navbar{
    display: flex;
    position: relative;
}

.contact p {
    color: #364346;
    font-weight: 800;
    margin-left: 25px;
    display: none;
}

/* laoading */

#splash {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  width: 200px;
  height: 200px;

  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 0.25rem solid rgba(75, 75, 75, 0.2);
  border-top-color: white;
  animation: spin 1s infinite linear;
}