
.top{
    height: 50vh;
    background-color: rgb(217 91 68);
}

.top-half{
    border-bottom: 14px solid rgb(255 216 87);
    height: 50vh;
}

.projects-pane{
    height: 100vh;
    position: relative;
}

.project-des {
    width: 40%;
    height: 100vh;
}

.project-title{
    display: flex;
    align-content: center;
    height: 50vh;
    color:rgb(255 216 87);
    border-bottom: 14px solid rgb(255 216 87);
}

.project-title h1{
    display: flex;
    align-items: center;
    margin-left: 10%;
    font-size: 110px;
    line-height: 110%;
}

.project-info{
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 10%;
}

.project-info p{
    width: 70%;
    font-size: 16px; 
    padding-top: 40px;
    line-height: 150%;
}

.project-img{
    width: 60%;
    height: 100vh;
}

.project-title-2{
    width: 60%;
    height: 50vh;
    float: right;
    position: absolute;
    top:0;
    right: 0;
    border-bottom: 14px solid rgb(255 216 87);
}

.image-sec{
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 25px;   
}

.image-sec img{
    width:85%;

}

.sides{
    display: flex;
}

.arrow-btn-container{
    position: relative;
    height: 50vh;
}

.arrow-btn{
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 15px;
    padding-bottom: 12px; 
}

.img-des{
    display: flex;
    margin-top: 15px;
}

.project-name{
    color: rgb(217 91 68);
    font-weight: 800;
    margin-right: 30px;
}

.made-with{
    color: rgb(59 67 70);
    font-weight: 800; 
}

.icon{
    height: 50vh;
    display: flex;
    justify-content: center;
    margin-left: 25%;
}

.icon img{
    position: absolute;
    width: 22%;
    margin-top: 3.5%;
}
